/* Set type preferences for headings. */

h2 {
    z-index: 1;
    font-family: 'Gotham', 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Set display preferences for description. */
  
  .description {
    z-index: 2;
    margin: 10px 5% 15px 5%;
    font-family: 'Gotham', 'Montserrat', sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 1.45em;
  }
  
  #flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 750px;
    margin: 0px auto;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Set display preferences for poem. */
  
  .poem {
    width: 500px;
    margin: auto;
    /*padding: 10px 0;*/
    font-family: Baskerville;
    font-size: 14px;
    text-align: left;
  }
  
  /* Add spacing to each stanza. */
  
  p {
    margin-bottom: 15px;
    line-height: 1.45em;
  }
  
  /* Set type preferences for poem's headings.  */
  
  .poem h1,
  .poem h2 {
    font-family: Baskerville;
    font-weight: normal;
    text-align: center;
  }
  
  /* Set display preferences for title of the poem. */
  
  .poem h1 {
    font-size: 34px;
    margin-bottom: 10px;
  }
  
  /* Set display preferences for name of the poet. */
  
  .poem h2 {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 30px;
  }
  
  /* Make the first letter a drop cap/initial. */
  
  .poem h2+p:first-letter {
    float: left;
    font-size: 40px;
    margin: 12px 5px 0px 0px;
  }
  
  /* Set display preferences for first line of each stanza. */
  
  .poem p:first-line {
    font-variant: small-caps;
    letter-spacing: 1px;
  }
  
  /* Add margin and padding at end of the poem. */
  
  .poem p:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  
  html,
  body {
    height: 100%;
    background-color: #F1F2F2;
  }