html, body {
background: #fadb6f;
    color: #111;
        font: 20px Baskerville, "Palatino Linotype", "Times New Roman", Times, serif;
	    text-align: left;
		     margin-top: 10px;
		       margin-bottom: 100px;
		         margin-right: 100px;
			   margin-left: 100px;
		   
    }
