body{
    background-color: black;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }
#left-middle{
    bottom:40%;
    right:60%;
    position: absolute;
}
#right-bottom{
    bottom:10%;
    right:10%;
    position: absolute;
}
#middle-left{
    bottom:80%;
    right:30%;
    position: absolute;
}